
<div id="nav">

    <h1>Menu</h1>
    <ul class="nav nav-pills">
        <li role="presentation">
            <a href="/">Read</a>
        </li>
        <li role="presentation">
            <a href="/write">Write</a>
        </li>
        <li role="presentation">
            <a href="/login">Login</a>
        </li>

    </ul>


</div>


