@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
  Layout = "Views/Layouts/Master.cshtml";
}

@section header{

<div id="nav">


    <h1>Menu</h1>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/write">Write</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>

    </ul>


</div>


}

