@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.IList<MicroBlog.Models.Post>>
    
@{

    Layout = "Views/Layouts/Master.cshtml";
    ViewBag.Title = "Home";
}

<h2>Post</h2>
@foreach (var item in  Model)
{
    <h3>@item.Title</h3>
    <p>@item.Content</p>

    <form action="/posts/@item.ID" method="get" style="display:inline;">
        <button type="submit"  class="editPost" id="@item.ID">Edit Post</button>
    </form>
    <button type="button" class="deletePost" id="@item.ID">Delete Post</button>
}


<script type="text/javascript">
    //Ajax calls for PUT and DELETE methods.
    //posts/itemid
    $(function() {

    $('.editPost').click(editPost);
    $('.deletePost').click(deletePost);

    function editPost() {
        console.log("editlog");
       
    }

    function deletePost() {
        var data = this.id;
        console.log("editlog- id" + data);
        $.ajax({
            url: "/posts/" + data,
            type: 'delete',
            success: function() {
                window.location.reload();
            }
        });
    }


    });
  
</script>
