@{
    Layout = "Views/Layouts/Master.cshtml";
    ViewBag.Title = "Login";
}


<h1>Login</h1>
<form method="get" action="/write">
    <input type="text" placeholder="User Name">
    <input type="text" placeholder="Password">
    <button type="submit"> Login</button>
</form>