@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Views/Layouts/Master.cshtml";
    ViewBag.Title = "Login";
}


<h1>Login</h1>
<form class="form-vertical" method="get" action="/posts/new">
    <section class="form-group">
        <input type="text" placeholder="User Name">
        <input type="text" placeholder="Password">
    </section>
    <button type="submit" class="btn btn-success"> Login</button>
</form>