@{
    Layout = "Views/Layouts/Master.cshtml";
    ViewBag.Title = "Write";
}


<h1>Write</h1>

<form class="form-vertical" method="POST">
    <textarea class="post"></textarea>
    <button type="submit">Save</button>
    <button type="reset">Reset</button>

</form>