@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MicroBlog.Models.Post>
@{
    Layout = "Views/Layouts/Master.cshtml";
    ViewBag.Title = "Write";
}

<h1>Write</h1>

<form class="form-vertical" method="POST" action="/posts/new">

    <input type="text" name="Title" value="@Model.Title" />
    <textarea name="Content" value="@Model.Content" class="post"></textarea>
    <button type="submit">Save</button>
    <button type="reset">Reset</button>

</form>