@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.IList<BlogNancy.Models.Post>>
    
@{

    Layout = "Views/Layouts/Master.cshtml";
    ViewBag.Title = "Home";
}

<h1>Posts</h1>

@if (Model.Count == 0)
{
    <section class="well"> 
        <h3>You have nothing here! Please write a new post</h3>
        <a href="/posts/new"> New Post</a>
    </section>
}
else
{
    foreach (var item in Model)
    {    <section class="well">
        <h3>@item.Title</h3>
        <p>@item.Content</p>

        <form action="/posts/@item.ID" method="get" style="display:inline;">
            <button type="submit" class="editPost btn btn-default" id="@item.ID">Edit</button>
        </form>
        <button type="button" class="deletePost btn btn-danger" id="@item.ID">Delete</button>
    </section>
    }
}


<script type="text/javascript">
    //Ajax calls for PUT and DELETE methods.
    //posts/itemid
    $(function() {

    $('.editPost').click(editPost);
    $('.deletePost').click(deletePost);

    function editPost() {
        console.log("editlog");
       
    }

    function deletePost() {
        var data = this.id;
        console.log("editlog- id" + data);
        $.ajax({
            url: "/posts/" + data,
            type: 'delete',
            success: function() {
                window.location.reload();
            }
        });
    }


    });
  
</script>
